header {
    background-color: #b8174c;
    color: white;
    height: 50px;
    padding-left: 20px;
    line-height: 50px;
    font-size: large;
}

.navbar {
    background-color: #19a187;
    color: #ffffff;
    height: 25px;
    line-height: 25px;
    padding-left: 20px;
}